.footer-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: flex-start;
    color: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width:1100px) {
    .footer-container {
        justify-content: space-between;
        width: 90%;
    }
}

@media screen and (max-width:900px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
}

.footer-container__item {
    margin-top: 2rem;
}

.footer-logo {
    width: 10rem;
    margin-top: 2rem;
}

.footer-title {
    font-family: 'Montserrat',
        sans-serif;
    text-transform: uppercase;
}

.footer-list {
    padding: 0;
    font-size: 1rem;
}

.footer-list li {
    list-style: none;
    padding: 0.5rem 0;
}

.footer-input-container {
    border: 1px solid rgba(0, 0, 0, 0.226);
    padding: 10px;
    vertical-align: middle;
}

.footer-input {
    border: none;
    font-size: 0.9rem;
    font-family: 'Source Serif Pro',
        serif;
    margin: auto 0;
    color: rgba(0, 0, 0, 0.6);
    height: 30px;
}

.footer-icon {
    font-size: 1.7rem;
    padding: 0 10px;
    color: rgba(0, 0, 0, 0.6);
    margin: auto 0;
    vertical-align: middle;
}

.footer-final {
    text-align: center;
}

.footer-final h5 {
    font-size: 0.9rem;
    text-align: center;
    letter-spacing: .5px;
    font-family: 'Montserrat',
        sans-serif;
}