.supernav-container {
  text-align: center;
  font-family: 'Source Serif Pro',
    serif;
  color: rgba(0, 0, 0, 0.555);
  font-size: 0.6rem;
  font-style: italic;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.658);
  letter-spacing: .12rem;
}

.nav-container {

  padding: 1rem 5rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000;
}

.nav-container-list {
  display: flex;
  justify-content: center;
  
}

.nav-container-list a img {
  width: 17rem;
  margin: 0 2rem;
}

.nav-container-list li {
  list-style: none;
  margin: 0 1rem;
  align-items: center;
  vertical-align: middle;
}

.nav-container-list li:hover {
  border-bottom: 1px solid #000;
}

.nav-container-list a {
  color: rgba(0, 0, 0);
  align-items: center;
  vertical-align: middle;
  letter-spacing: .12rem;
  font-family: 'Montserrat',
    sans-serif;
  height: 300;
  text-decoration: none;
}

.nav-icon {
  color: rgba(0, 0, 0, 0.7);
  vertical-align: middle;
  margin: auto 2rem;
}

.nav-icon button {
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
  background-color: #fff;
}


/*footer*/
.footer-container {
  display: flex;
  width: 70vw;
  margin: 0 auto;
  justify-content: space-around;
  align-items: flex-start;
  color: rgba(0, 0, 0, 0.527);
}

.footer-container__item {
  margin-top: 2rem;
}

.footer-logo {
  width: 12rem;
  margin-top: 2rem;
}

.footer-title {
  font-family: 'Montserrat',
    sans-serif;
  text-transform: uppercase;
}

.footer-list {
  padding: 0;
  font-size: 1rem;
}

.footer-list li {
  list-style: none;
  padding: 0.5rem 0;
}

.footer-container__input {
  border: 1px solid rgba(0, 0, 0, 0.226);
  padding: 10px;
  vertical-align: middle;
}

.footer-input {
  border: none;
  font-size: 0.9rem;
  font-family: 'Source Serif Pro',
    serif;
  margin: auto 0;
  color: rgba(0, 0, 0, 0.418);
  height: 30px;
}

.footer-icon {
  font-size: 1.7rem;
  padding: 0 10px;
  color: rgba(0, 0, 0, 0.418);
  margin: auto 0;
  vertical-align: middle;
}